.imagepoll-view-voting label > input{
  visibility: hidden;
  position: absolute;
}
.imagepoll-view-voting label > input + img,
.imagepoll-view-voting label > input + video {
  cursor:pointer;
  border:2px solid transparent;
}

/*.imagepoll-view-voting label > input:checked + img{*/
  /*border:2px solid #f00;*/
/*}*/

.imagepoll-view-voting label.selected img,
.imagepoll-view-voting label.selected video {
  border:2px solid #f00;
}



.imagepoll-view-voting {
  width: 220px;
}